<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,
           initial-scale=1,
           user-scalable=no,
           shrink-to-fit=no">
    <title>SAMSUNG SDS</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/input.css">
</head>

<body>
    <form class='input-form' method="get", name="input_form" action="{% url 'mbti_model:result' %}">
        <fieldset>
            <legend>Conversation to MBTI</legend>
            <!-- 성명: <br>
            <input type="text" name="name"> <br>
            성별: <br>
            <input type="radio" name="gender" value="male" checked> 남<br>
            <input type="radio" name="gender" value="female"> 녀<br>
            <input type="radio" name="gender" value="other"> 불명<br>
            대화내용: <br>
            <input type="file" name="talk_log"> <br> -->
            <input type="text" name="sepalLength" placeholder="SepalLength">
            <input type="text" name="sepalWidth" placeholder="SepalWidth">
            <input type="text" name="petalLength" placeholder="PetalLength">
            <input type="text" name="petalWidth" placeholder="PetalWidth">
            <input type="file" name="file">
            <input type="submit" value="가자ㅏ!">
        </fieldset>
    </form>
</body>

<script>
</script>

</html>